    <h3>Team <%= @team.name %></h3>
    <h4>Team Motto: <%= @team.motto %></h4>
    
    <p>Hero Name: <%= @members[0].name %>
    <p>Hero Power: <%= @members[0].power %>
    <p>Hero Biography: <%= @members[0].bio %>

    <p>Hero Name: <%= @members[1].name %>
    <p>Hero Power: <%= @members[1].power %>
    <p>Hero Biography: <%= @members[1].bio %>
   
    <p>Hero Name: <%= @members[2].name %>
    <p>Hero Power: <%= @members[2].power %>
    <p>Hero Biography: <%= @members[2].bio %>